node_modules
node_modules
.next
out
deploy
.env
.env.local
tsconfig.tsbuildinfo
*.log

# Azure Functions local settings
api/local.settings.json

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
